In [19]:
import pandas as pd
import numpy as np

In [2]:
path = '../data/test_ids.csv'

In [3]:
df = pd.read_csv(path)

In [4]:
df

     cl_id
0     8668
1     3419
2     4068
3     7200
4     2410
..     ...
495   4141
496   4449
497   4883
498   1154
499   2473

[500 rows x 1 columns]

In [5]:
df1 = pd.read_parquet('../data/test_trx.parquet/')

In [6]:
df1

,cl_id,amount,event_time,mcc,channel_type,currency,trx_category,trx_count,target_target_flag,target_target_sum
0,10096,"[5.209486152841421, 11.289794413577894, 6.5381...","[17310.0, 17310.44556712963, 17312.0, 17312.0,...","[3, 2, 1, 8, 16, 32, 1, 5, 16, 1, 3, 3, 8, 3, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",186,0,0.0
1,1718,"[10.463131911491967, 9.200391041122515, 8.4765...","[17113.0, 17113.0, 17113.065914351853, 17117.0...","[2, 80, 2, 2, 1, 6, 6, 1, 2, 100, 2, 2, 2, 1, ...","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[6, 1, 3, 6, 1, 1, 1, 1, 3, 1, 3, 3, 6, 1, 1, ...",42,1,95755.67
2,3260,"[5.995207533386816, 4.0943445622221, 6.0776422...","[17444.0, 17445.0, 17445.0, 17445.0, 17445.617...","[1, 1, 4, 1, 2, 1, 47, 1, 3, 17, 1, 1, 1, 8, 8...","[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",169,1,36862.75
3,3529,"[7.941626359306345, 7.692113339595466, 6.04263...","[17214.0, 17214.0, 17214.0, 17214.0, 17216.0, ...","[1, 1, 86, 26, 23, 1, 1, 7, 3, 11, 1, 1, 4, 1,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",69,1,9553.28
4,5335,"[8.006700845440367, 7.484930283289661, 7.10414...","[17203.0, 17203.0, 17203.0, 17203.668090277777...","[25, 16, 31, 2, 2, 2, 52, 3, 3, 17, 17, 1, 28,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 2, 2, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...",155,0,0.0
...,...,...,...,...,...,...,...,...,...,...
495,5712,"[5.471850417308912, 10.986361642914657, 5.2522...","[17146.0, 17149.0, 17150.0, 17150.0, 17151.0, ...","[20, 58, 10, 1, 96, 10, 1, 20, 13, 13, 1, 1, 2...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 7, 5, 1, 1, 3, 5, 7, ...",120,0,0.0
496,7975,"[10.308985993422082, 8.006700845440367, 8.9873...","[17099.56758101852, 17099.568668981483, 17101....","[2, 2, 2, 18, 3, 2, 46, 2, 94, 2, 8, 8, 3, 8, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[2, 2, 2, 1, 1, 2, 1, 2, 1, 2, 1, 1, 1, 1, 1, ...",52,0,0.0
497,8507,"[7.333676395657684, 6.786716950605081, 7.04056...","[17144.0, 17144.0, 17146.0, 17146.0, 17146.0, ...","[10, 14, 4, 1, 7, 14, 6, 1, 2, 6, 19, 1, 14, 1...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, ...",206,1,351105.52
498,8928,"[6.908614909394019, 4.804021044733257, 10.1058...","[17348.0, 17349.0, 17349.0, 17349.0, 17349.0, ...","[6, 16, 32, 19, 16, 27, 36, 26, 2, 16, 16, 16,...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, ...",84,1,1378.0
499,9015,"[7.360930603246378, 8.517393171418904, 5.50728...","[17200.0, 17200.522534722222, 17201.0, 17201.0...","[37, 9, 1, 7, 10, 9, 15, 15, 37, 1, 2, 2, 2, 1...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[1, 2, 1, 1, 1, 2, 1, 1, 1, 1, 2, 2, 3, 1, 1, ...",67,1,7200.43

In [11]:
df1['cl_id'].astype(int).values

array([10096,  1718,  3260,  3529,  5335,  9606,  1076,  2227,  3859,
        5838,  7155,  9003,  9920,  9927,   126,  1645,  2883,  3094,
         314,  4127,  4510,  5301,  6013,  6503,  6876,  7448,  8668,
        2916,   366,  5650,  6227,  6601,  6917,  7246,  7451,  8077,
        8810,  9506,  9722, 10077,  1875,  1955,  2320,  2362,  3341,
        4025,  4846,  7786,  9171,  9908,  1252,  1434,  1480,  3132,
        3786,  4395,  5920,  6268,  6517,  7748,  7932,  9636,  9980,
       10155,  2718,  3656,  5478,  5498,  7864,   794,   842,  8866,
        1153,  2277,    41,  4206,  5715,  7647,    82,  9269,  1020,
        1851,  2473,  2674,  4279,  4310,  4721,  4757,   529,  6051,
        6584,  7791,  8168,   851,  8732,  9307,  1547,  3811,  4165,
        7103,  7905,  9546,  3792,   455,   539,   636,  6595,  6991,
        7286,   815,   828,  8960,  9364,  9734,  1848,  2525,  2982,
        3968,  5872,  7337,  2767,  3105,   328,  3453,  3686,  4280,
        4693,  6984,  7109,  9531,  3560,  4068,  5623,  9118,  1180,
        2448,  6844,  8571,  8614,  8632,  9888,  2444,  3013,  4008,
        4059,  5130,  5487,  6257,  7973,  9173,  9507,  1906,  2371,
         410,  4238,  4355,  6672,   143,  2670,  5683,  7731,  9880,
        1846,  2428,  3627,  4732,  7572,  7850,  8365,  8479,   927,
        9487,  9611,  9852,  1101,  4533,  5512,  6827,  1663,  4702,
        6240,   652,   726,  9601,  9704,  1348,   219,  3456,   363,
        4075,  5351,  6024,  6558,  7683,  8141,  9040,  1649,   299,
        3228,  4204,  4426,  4746,   622,  1256,  1671,   307,  4337,
        4447,  5450,  6758,  7937,  9166,  9749,   205,  4913,  4947,
        5085,  5743,  6433,  7161,  8663, 10022,  1203,  1608,  1679,
        2216,  2414,  3097,  3255,   347,  3930,  4000,  4551,  1316,
        2210,  3628,  3852,  4138,  4501,  5855,   700,  3981,  6803,
        8547,  9192,  9685,  1837,  2432,  5871,  8940,  9335,  9924,
        2020,  2123,  2874,  3171,  5271,  6529,  7611,  2611,  4088,
        7282,  1370,  1832,   279,  2997,  3390,  3956,  4752,  6372,
        7168,  8922,  9036,  2292,  2474,  4820,   611,  7152,  8959,
        9150,   136,  4067,  8568,  1000,  2103,  2358,  3164,  3214,
        4141,  4753,  4948,  5293,  5795,   676,  1460,  1816,  2279,
        2524,  3321,  5192,  6806,  8842,  9070,  9363,    14,  4373,
        4938,  4953,  5199,  5425,  8293, 10124,   494,  5409,  9725,
        2743,   313,  3988,   444,  5767,  5939,  6808,  7340,  8948,
        9210,   137,  1902,  2298,   395,  4756,  6176,  7713,  1147,
        2410,  3622,  6425,  6797,  9780, 10041,  1772,   186,  4883,
        5316,  6848,  6913,  7390,  8963,  1873,  3782,  5812,  6271,
        6927,  8794,  9137,  1912,  2228,  4469,   573,   609,  6809,
        8152,  8895,  8919,  9043,  9775, 10130,  1472,  2477,  3212,
        3431,  4449,  4527,  4939,   548,  7167,  7469,  7824,  1139,
        2017,  2763,  4315,  4601,   695,  7353,  7356,  9796,  6365,
        6566,  9944,  1233,  3780,  3937,  3998,  8387, 10086,  1154,
        1781,  1854,  2704,   375,  7567,  9134,  9249,  9687,  2230,
        2338,  4219,  4330,  4442,   500,  6515,  6828,  8548,  8983,
         100,  1545,  1710,  2004,  2237,  5436,  8697,  9396, 10016,
        1879,  2688,   422,  5051,  5508,  8815,  1853,  2356,  4365,
         450,  5030,  5285,  5481,  7200,  7388,   847,  9140,  1417,
        2093,  3198,  4728,  7230,  8497,  9262,  2528,  2745,  3704,
        4750,  4794,  5246,  6160,  8468,  8835,  9988,  2517,  4474,
        5235,  5960,  7030,  7126,  7260,  1673,  1951,  2596,  2702,
        3159,  4689,   505,  7174,  7725,  9416, 10107,  1538,  2853,
        3419,  3668,   394,   477,  4781,  5598,  5622,    61,   653,
        7649,  7673,  7738,  7992,  9108,  9670, 10048,  1628,  2409,
        5712,  7975,  8507,  8928,  9015])

In [22]:
np.sort(df['cl_id'].values) == np.sort(df1['cl_id'].astype(int).values)

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True])